@page "/dictionary"

<div class="columns">
    <div class="column">
        <div class="field">
            <label class="label">Word</label>
            <div class="control">
                <input class="input" type="text" @ref="_wordElement" @bind="_editedWord" @bind:event="oninput" @onkeyup="EditedWordKeyHandlerAsync">
            </div>
        </div>

        @if (_dictionary?.Language is Language.English)
        {
            <div class="field">
                <label class="label">Transcription</label>
                <div class="control">
                    <input class="input" type="text" tabindex="-1" @bind="_editedTranscription">
                </div>
            </div>
        }

        <div class="field">
            <label class="label">Translation</label>
            <div class="control">
                <textarea class="textarea" @ref="_translationElement" @bind="_editedTranslation" @bind:event="oninput" @onkeyup="TranslationKeyHandlerAsync"></textarea>
            </div>
        </div>

        <div class="level">
            <div class="level-left">
                <div class="control">
                    <button class="button is-primary is-outlined" @onclick="AddTranslation" disabled="@(!CanAdd)">Add</button>
                </div>
            </div>
            <div class="level-right">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-danger is-outlined" @onclick="DeleteWordAsync" disabled="@(!CanDelete)">Delete</button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @onclick="SubmitWordAsync" disabled="@(!CanSubmit)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (_translations.Any())
    {
        <div class="column">
            @foreach (var translation in _translations)
            {
                <div>
                    <a @onclick="() => EditTranslation(translation)">
                        <span class="icon">
                            <i class="mdi mdi-18px mdi-pencil"></i>
                        </span>
                    </a>
                    @translation
                </div>
            }
        </div>
    }
</div>

<div class="word-list">
    @foreach (var word in _dictionaryWords)
    {
        <div class="content" @key="word.Id">
            <div class="has-background-info-light is-size-5">
                <a @onclick="() => EditWord(word)">
                    <span class="icon">
                        <i class="mdi mdi-18px mdi-pencil"></i>
                    </span>
                </a>
                @word.Value
                @if (word.Transcription != null)
                {
                    <span class="has-text-grey"> [@word.Transcription]</span>
                }
                <a class="is-pulled-right has-text-danger" @onclick="() => DeleteWordAsync(word.Id)">
                    <span class="icon">
                        <i class="mdi mdi-18px mdi-delete"></i>
                    </span>
                    <span>delete</span>
                </a>
            </div>
            <ul class="keep-spaces">
                @foreach (var translation in word.Translations)
                {
                    <li>@translation</li>
                }
            </ul>
        </div>
    }
</div>