﻿@page "/"

<div @onkeydown="OnKeyDown">
    <div class="mt-2">
        <button class="button is-info is-outlined" @onclick="Restart">
            <span class="icon">
                <i class="mdi mdi-18px mdi-reload"></i>
            </span>
            <span>Restart</span>
        </button>
        <button class="button is-info is-outlined" @onclick="SwitchMode">
            <span class="icon">
                <i class="mdi mdi-18px mdi-swap-horizontal-bold"></i>
            </span>
            <span>Switch</span>
        </button>
    </div>

    <div class="mt-5 translation-block keep-spaces is-size-4 has-text-centered">
        @_currentWordToTranslate
    </div>

    <div class="control my-5 @(_normalMode ? "" : "is-hidden")">
        <input class="input" type="text" autofocus disabled="@(_currentWord == null)" @bind="_answer" @bind:event="oninput" @onkeyup="KeyHandler">
    </div>

    <div class="columns">
        <div class="column">
            @if (_lastWord != null)
            {
                <div class="is-family-monospace is-size-4">
                    @_lastWord.Value
                </div>
                <div class="content keep-spaces">
                    <ul>
                        @foreach (var translation in _lastWord.Translations)
                        {
                            <li>@translation</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <div class="column is-narrow has-text-right">
            <div>
                Progress:
                @_currentIndex / @_words.Count
            </div>
            <div class="@(_normalMode ? "" : "is-hidden")">
                Errors:
                @_errors / @_totalErrors
            </div>
        </div>
    </div>

    <div class="level is-mobile @(_normalMode ? "is-hidden" : "")">
        <div class="level-left">
            <button class="button is-outlined" @onclick="GoBack" disabled="@(!CanGoBack)">Back</button>
        </div>
        <div class="level-right">
            <button class="button is-outlined" @onclick="GoForward" disabled="@(!CanGoForward)">Forward</button>
        </div>
    </div>
</div>
