@page "/word-list"
@using LanguageTrainer.Client.Extensions
@inject HttpClient Http

<div class="content">
    @foreach (var word in _dictionaryWords)
    {
        <details class="mt-3" @key="word.Id">
            <summary>
                @word.Value
                @if (word.Transcription != null)
                {
                    <span class="has-text-grey"> [@word.Transcription]</span>
                }
            </summary>
            <ul class="keep-spaces">
                @foreach (var translation in word.Translations)
                {
                    <li>@translation</li>
                }
            </ul>
        </details>
    }
</div>

@code {
    Dictionary? _dictionary;
    private List<Word> _dictionaryWords = [];
    
    [CascadingParameter] public SelectedDictionary SelectedDictionary { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        if (_dictionary?.Id != SelectedDictionary.Dictionary?.Id)
        {
            _dictionary = SelectedDictionary.Dictionary;
            _dictionaryWords = _dictionary != null 
                ? await Http.GetFromJsonAsync<List<Word>>($"/dictionaries/{_dictionary.Id}/words")
                : [];
            
            _dictionaryWords?.Shuffle();
        }
    }
}