﻿#blazor-error-ui {
    display: none;
}

.word-list div.content{
    border-top: 1px solid #d5d5d5;
}

.word-list div.content a{
    visibility: hidden;
}

.word-list div.content:hover a{
    visibility: visible;
}

.translation-block{
    min-height: 100px;
}

.navbar-item.active{
    background-color: #166497;
    font-weight: bold;
}

.columns:focus{
    outline: none;
}

.keep-spaces{
    white-space: pre-wrap;
}

details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
