@inject HttpClient Http
@implements IDisposable

<div class="mx-3 my-3">
    <article class="panel is-info">
        <p class="panel-heading">
            Dictionaries 
            <img src="@FlagImage()" width="20" class="ml-1" />
            @if (DictionaryListConfiguration.CanCreateNewDictionary)
            {
                <a class="is-pulled-right" @onclick="OpenCreateDictionaryDialog">
                    <span class="icon has-text-white">
                        <i class="mdi mdi-24px mdi-plus-circle-outline"></i>
                    </span>
                </a>
            }
        </p>
        <p class="panel-tabs">
            @foreach (var language in Enum.GetValues<Language>())
            {
                <a class="@(_selectedLanguage == language ? "is-active has-text-weight-bold" : "")" @onclick="async () => await ShowTab(language)">
                    @language
                </a>    
            }
        </p>

        @foreach (var dictionary in _dictionaries)
        {
            var selectedClass = _selectedDictionaryId == dictionary.Id 
                ? dictionary.IsRepeatALot ? "has-background-warning": "has-background-link-light has-text-weight-bold" 
                : "";
            <a class="panel-block is-justify-content-space-between @(selectedClass)" @onclick="() => SelectDictionaryAsync(dictionary)">
                @dictionary.Name
                <span class="tag is-rounded is-light">@dictionary.NumberOfWords</span>
            </a>
        }
    </article>
</div>

<NewDictionary @ref="_newDictionary" Language="_selectedLanguage" OnDictionaryCreated="OnDictionaryCreatedAsync" />

@code{
    [Inject]
    private Dictionaries Dictionaries { get; set; }
    
    [CascadingParameter]
    public DictionaryListConfiguration DictionaryListConfiguration { get; set; }
    
    private string? _selectedDictionaryId;
    private Language _selectedLanguage = Language.Dutch;
    private NewDictionary _newDictionary;
    private List<Dictionary> _dictionaries = new();
    
    [Parameter] public EventCallback<Dictionary> OnDictionarySelected { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        DictionaryListConfiguration.NumberOfWordsUpdated += OnNumberOfWordsUpdated;
        
        var dictionaryList = await Http.GetFromJsonAsync<List<Dictionary>>("/dictionaries");
        Dictionaries.SetDictionaries(dictionaryList);

        await ShowTab(_selectedLanguage);
    }

    private void OnNumberOfWordsUpdated(object? sender, EventArgs args)
    {
        StateHasChanged();
    }

    private async Task SelectDictionaryAsync(Dictionary? dictionary)
    {
        if (_selectedDictionaryId != dictionary?.Id)
        {
            _selectedDictionaryId = dictionary?.Id;
            await OnDictionarySelected.InvokeAsync(dictionary);
        }
    }

    private void OpenCreateDictionaryDialog()
    {
        _newDictionary.OpenCreateDictionaryDialog();
    }

    private async Task OnDictionaryCreatedAsync(Dictionary dictionary)
    {
        Dictionaries.AddNewDictionary(dictionary); 
        await ShowTab(dictionary.Language);
    }

    private async Task ShowTab(Language language)
    {
        _selectedLanguage = language;
        _dictionaries = Dictionaries.GetDictionaries(_selectedLanguage);
        await SelectDictionaryAsync(_dictionaries.FirstOrDefault(x => !x.IsRepeatALot));
    }

    private string FlagImage() =>
        _selectedLanguage switch
        {
            Language.English => "img/gb.svg",
            Language.Dutch => "img/nl.svg",
            Language.German => "img/de.svg",
            Language.Spanish => "img/es.svg",
            _ => throw new ArgumentOutOfRangeException()
        };

    public void Dispose()
    {
        DictionaryListConfiguration.NumberOfWordsUpdated -= OnNumberOfWordsUpdated;
    }
}