@using System.Text.Json
@using System.Text
@inject HttpClient Http

<div class="modal @(_showDialog ? "is-active" : "")">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New dictionary: @Language</p>
        </header>
        <section class="modal-card-body">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Name" @bind="_name">
              </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" @onclick="CreateDictionary">Create</button>
            <button class="button" @onclick="CloseCreateDictionaryDialog">Cancel</button>
        </footer>
    </div>
</div>

@code{
    private bool _showDialog;
    private string _name;
    
    [Parameter, EditorRequired] public Language Language { get; set; }
    [Parameter] public EventCallback<Dictionary> OnDictionaryCreated { get; set; }
    
    private async Task CreateDictionary()
    {
        var request = new AddDictionary(_name, Language);
        using var response = await Http.PostAsJsonAsync("/dictionaries", request);
        var dictionary = await response.Content.ReadFromJsonAsync<Dictionary>();
        
        _name = null;
        CloseCreateDictionaryDialog();
        await OnDictionaryCreated.InvokeAsync(dictionary);
    }
    
    public void OpenCreateDictionaryDialog()
    {
        _name = DateTime.Now.ToString("yyyy-MM-dd");
        _showDialog = true;
    }

    private void CloseCreateDictionaryDialog()
    {
        _showDialog = false;
    }
}