﻿@inherits LayoutComponentBase

<CascadingValue Value="_dictionaryListConfiguration">
    <CascadingValue Value="_selectedDictionary">
        <NavMenu @bind-CollectionListVisible="_collectionListVisible" />
        
        <div class="columns">
            <div class="column is-one-quarter @(_collectionListVisible ? "" : "is-hidden")">
                <DictionaryList OnDictionarySelected="OnDictionarySelected" />
            </div>

            <div class="column mx-4">
                @Body
            </div>
        </div>
    </CascadingValue>
</CascadingValue>

@code
{
    private readonly DictionaryListConfiguration _dictionaryListConfiguration = new();
    private readonly SelectedDictionary _selectedDictionary = new();
    private bool _collectionListVisible = true;

    private void OnDictionarySelected(Dictionary dictionary)
    {
        _selectedDictionary.Dictionary = dictionary;
    }
}
