﻿<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <button class="button is-info" @onclick="ToggleCollectionListAsync">
                <span class="icon">
                    <i class="mdi mdi-24px mdi-chevron-@(CollectionListVisible ? "left" : "right")"></i>
                </span>
            </button>
        </div>
        
        <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
            Practice
        </NavLink>
        
        <NavLink class="navbar-item" href="word-list" Match="NavLinkMatch.All">
           Word list
        </NavLink>
       
        <NavLink class="navbar-item" href="dictionary">
           Dictionary
       </NavLink>
    </div>
</nav>

@code{
    [Parameter] public bool CollectionListVisible { get; set; }
    [Parameter] public EventCallback<bool> CollectionListVisibleChanged { get; set; }

    private Task ToggleCollectionListAsync()
    {
        return CollectionListVisibleChanged.InvokeAsync(!CollectionListVisible);
    } 
}